<div class="row align-items-center  vh-100">
  <div class="col-md-5 mr-auto ml-auto ">
    <h1 class="">Willkommen zum Quiz</h1>
    <p>
      Auf den Button unterhalb Drücken um ein neues Quiz zu starten.
    </p>
    {{#link-to 'quiz.name' class="btn btn-primary"}}
    Quiz starten
    {{/link-to}}


  </div>
</div>
