{{outlet}}


<div class="row  vh-100 justify-content-center">
  <div class="col-12 row mt-5 justify-content-center">
    <h3>Danke für die Teilnahme</h3>
  </div>
  <div class="col-md-5 align-self-center ">

    <h1 class="">Wenn du das Ergbnis haben möchtest gib bitte deine Mail an.</h1>
    <div class="form-group">
      <label for="usr">Mail:</label>
      <input type="text" class="form-control" id="usr">
    </div>



  </div>

  <div class="col-12 mb-5 mr-5 align-self-end  row justify-content-end">

        {{#link-to 'quiz.name' class="btn btn-primary float-right"}}
        Weiter Zu neuem Quiz
        {{/link-to}}
  </div>
</div>
