{{outlet}}
<div class="row mt-3 pl-3  pr-3 justify-content-between">
  <div class="col-3">
    <h1 class="">Frage 1/7</h1>
  </div>

  <div class="col-3 ">
    <h2 class="text-right">Zeit 12:23</h2>
  </div>
</div>
<div class="row align-items-center  justify-content-center vh-100">
  <div class="col-md-6 ">


    {{#list-pagination paginateBy=1 items=model as |answers|}}

    {{/list-pagination}}
    




  </div>
</div>
