<div class="row  vh-100 justify-content-center">
  <div class="col-12 row mt-5 justify-content-center">
    <h3>Danke für die Teilnahme</h3>
  </div>
  <div class="col-md-5 align-self-center ">
    <div class="row mb-5 justify-content-between" >
      <div class="col">
        {{#link-to 'quiz.name' class="btn btn-primary btn-rounded-1"}}
        10%
        {{/link-to}}
      </div>
      <div class="col">
        {{#link-to 'quiz.time' class="  btn btn-primary float-right btn-rounded-10"}}
        75%
        {{/link-to}}
      </div>
    </div>
    <h1 class="">Größe ist nicht alles. </h1>
  <p>Aber es ist schon interessant wie manche Menschen darauf reagieren.</p>






  </div>

  <div class="col-12 mb-5 mr-5 align-self-end  row justify-content-end">
    {{#link-to 'quiz.detail' class="btn btn-primary float-right"}}
    Weiter detail
    {{/link-to}}
  </div>
</div>
