<div class="row  vh-100 justify-content-center">
  <div class="col-12 row mt-5 justify-content-center">
    <h3>Danke für die Teilnahme</h3>
  </div>
  <div class="col-md-5 align-self-center ">

    <h1 class="">Deine Zeit 01:32. </h1>
    <p>Leider ging es nicht um schnelligkeit.</p>






  </div>

  <div class="col-12 align-self-end  row justify-content-end">
    {{#link-to 'quiz.size' class="btn btn-primary float-right"}}
    Weiter Größe
    {{/link-to}}
  </div>
</div>
